sortof
try-pic/*.png
pascal/*.o
pascal/fib
rvv01/main.o
rvv01/rvv01
rvv01/vec.o
/try-zig/zig-linux-x86_64-0.9.1.tar.xz
/try-zig/zig-linux-x86_64-0.9.1
/try-zig/a.out
/try-zig/riscv.o
/manim/__pycache__
/manim/media
